<!DOCTYPE html>
<html>
<head>
  <title>Yamyam Sepeti</title>
</head>

<body class="<%= controller.controller_name %>" , style="background-color:#FFFFCC">
  <div>
	<p align="right" style="color:#F234FF">
    <% if current_user %>
      <em> Hosgeldiniz <%= current_user.email %>!</em> <%= link_to "cikis", destroy_user_session_path, method: :delete, style: 'color:#FF8888'%>
    <% else %>
    <% end %>
	</p>
  </div>

<p align="center">
	<%= image_tag("yamyam_logo1.jpg", :alt => "rss feed",:size => "300x150", :align=> "center") %>
	<h1 align="center"> YAMYAM SEPETINE HOS GELDINIZ</h1>
</p>

<p align="center" style="background-color:#FF9999">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= link_to "Alisveris yap", stores_path %> |
  <%= link_to "Urunler", products_path %> |
  <%= link_to "Talepler", orders_path %> 
</p>


  <div id="wrapper">
    <div id="columns">
      <div id="side">
        <% if @cart %> 
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
          <% end %>
        <% end %>
      </div>
    </div>
  
      <%= yield %>
    </div>

  </body>
</html>
