<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> Urun olusturulamadi:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Urun_Adi%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Aciklama %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :Resim_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :fiyati %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit "Ekle" %>
  </div>
</br>
<% end %>
