<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Yiyecekler</h1>

<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
	</br>
	<h3 style="background-color:#FF9999"> <%= product.title %> </h3>
        <%= image_tag(product.image_url, :width =>80) %>        
        <%= sanitize(product.description) %>
        <div>
          <p><%= product.price %> tl <%= button_to 'Sepete Ekle', line_items_path(product_id: product), remote: true %></p>
        </div>
	</br>

      </div>
    <% end %>
  <% end %>
<% end %>


